/*#navbar{
	z-index: 1 !important;
}
*/

body {
	background: rgba(255, 183, 60, 0.3);
}

#header img{
	width: 80px;
}

#header {
	background: #FFA60D;
}

.text-platzi{
	color: rgba(0, 157, 232, 1) !important;
	font-weight: 900;
}

.btn-platzi{
	background-color: rgba(0, 157, 232, 1);
	color: #FFF;
}

.btn-platzi:hover{
	background-color: rgba(0, 133, 196, 1);
}

.carousel-font {
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.75);
	color: rgba(0, 245, 255, 1)
}

#main .carousel-inner img{
	object-fit: cover;
	max-height: 70vh;
	filter: grayscale(20%);
}

#carousel{
	position: relative;
}

#carousel .overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.2);
	color: #FFF;
}

#carousel .overlay .container,
#carousel .overlay .row{
	height: 100%;
}


#place-time{
	background-color: rgba(0, 173, 255, 0.7);
	color: #FFF;
}

#place-time img{
	width: 100%;
}

#footer{
	background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
/*	position: absolute;
	width: 100%;
	bottom: 0px !important;*/
}

#footer a{
	color: #FFF;
}
